@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f0f0f0;
  background-color: #dfdfdf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

h1, h2, h3, h4 {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -1px;
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: -0.3px;
  font-weight: 500;
}

button {
  cursor: pointer;
}

