.wrapper {
  display: flex;
  flex-direction: column;
  width: 548px;
  background-color: #b1b1b1;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: inset -1px 2px 5px 0px rgba(0,0,0,0.34);

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
    background-color: #374D7C;
    h1 {
      color: #F6F6F6;
    }
  }
  form {
    display: flex;
    width: 100%;
    height: 40px;
    .text-input-box {
      flex: 1;
      height: 100%;
      width: auto;
      border: none;
      background-color: #D9D9D9;
      padding: 0 15px;
      outline: none;
      caret-color: #374D7C;
      color: #374D7C;
      font-size: 18px;
      box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.34);
    }
    .submit-btn {
      height: 100%;
      width: 40px;
      background-color: #FF4667;
      border: none;
      box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.34);
      transition: 200ms;
      &:hover, &:active {
        background-color:  #fc5574;
      }
      i {
        font-size: 20px;
      }
    }
  }
  .to-dos-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    padding-bottom: 40px;
    .to-do-el {
      display: flex;
      background-color: #CAC9C9;
      margin-left: 4px;
      margin-right: 4px;
      padding: 8px 8px;
      border-radius: 3px;
      box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.34);
      color: #566585;
      &.completed-task {
        text-decoration: line-through;
        background-color: #EEE7C0;
      }
      &:nth-child(odd) {
        margin-top: 4px;
        margin-bottom: 4px;
        
      }
      .to-do-selector {
        height: 15px;
        width: 15px;
        min-width: 15px;
        border-radius: 100%;
        background-color: #EFEFEF;
        border: none;
        margin-right: 8px;
        margin-top: 4px;
        &.radio-toggled {
          border: 2px solid #F6F6F6;
          background-color: #FF4667;
        }
      }
      p {
        font-size: 16px;
      }
      .bin-btn {
        display: flex;
        margin-left: auto;
        background-color: transparent;
        border: none;
        width: 20px;
        height: 20px;
        i {
          color: #374D7C;
          font-size: 17px;
          transition: 300ms;
          &:hover {
            color: #FF4667;
          }
        }
      }
    }
  }
}